/* CSS Document */

body {
	background:#436282 url(../img/bg.jpg) no-repeat center  0px;
	color:#FFF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
}


#main {
	margin:0px auto;
	width:494px;
	overflow:auto;
	margin-top:100px;
	
}

h1 {
	font-size:18px;
	color:#3074B3;
	
}

#login {
	background:#48678A;
	padding-top:23px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
		
	-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75);
	
}
#login .panel {
	background:#FFF;
	overflow:auto;
	padding:20px 10px;
	
	-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
	
}

#mensaje {
	color:#900;
	font-size:12px;
	
}

#footer {
	width:800px;
	margin:0px auto;
	margin-top:30px;
	text-align:center;
	
}

ul.submenu {
	margin-left:40px;
	padding:0px;
	list-style:none;
	background-color:#F00;

}
ul.submenu li {
	float:left;
	margin:10px;
	
}

ul.submenu li a {
	color:#FFF;
	text-decoration:none;
	
}

#frm_login {
	float:left;
	margin-left:10px;
	
}

#frm_login input[type=text]  , 
#frm_login input[type="password"] {
	width:254px;
	padding:8px;
	border:1px solid #6FA7D1;
	margin-left:10px;

}

#frm_login input[type=submit] {
	background:#6FA7D1;
	
	background-image: linear-gradient(bottom, rgb(169,203,228) 65%, rgb(111,166,209) 0%, rgb(169,203,228) 83%);
	background-image: -o-linear-gradient(bottom, rgb(169,203,228) 65%, rgb(111,166,209) 0%, rgb(169,203,228) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(169,203,228) 65%, rgb(111,166,209) 0%, rgb(169,203,228) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(169,203,228) 65%, rgb(111,166,209) 0%, rgb(169,203,228) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(169,203,228) 65%, rgb(111,166,209) 0%, rgb(169,203,228) 83%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.65, rgb(169,203,228)),
		color-stop(0, rgb(111,166,209)),
		color-stop(0.83, rgb(169,203,228))
	);
	

		
	border:none;
	cursor:pointer;
	padding:8px 10px;
	color:#FFF;
	font-size:14px;
	float:right;
	margin-right:50px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	letter-spacing:1px;
	
	
	
	
}