/* CSS Document */

body {
	background-color:#cc6;
}
a#siguiente {
	left:-35px;
}
a#siguiente:hover {
	left:-25px;
}
a#anterior {
	right:-35px;
}
a#anterior:hover {
	right:-25px;
}
section {
	margin:70px auto; /*acomodar mi secion en una parte especifica (auto)para que sea automatico el movimiento*/
	width:650px;/*tamaño se  la seccion*/
	text-align:center;
}
section a {
	color:#444;
	border-radius:50%;
	font-size:5em;
	background-color:#ededed;
	width:72px;
	line-height:60px;
	padding-bottom:12px;
	text-decoration:none;
	position:relative;
	Z-index:2;
}
section a, #marco {
	display:inline-block;
	vertical-align:middle;
	
}
section a:hover{
	color:#00F;
	background-color:#09C;
	}
#marco {
	border:10px solid white;/*tamaño del borde y color*/
	border-radius:4px; /*es el angolo radial que se le da al borde*/
	box-shadow:0px 0px 25px 5px rgba(0, 0, 0, .8);
	overflow:hidden;/*para que todo lo que este despues de 460px no se vea*/
	position:relative;
	width:464px;/*tamaño del marco;si no se establece el tamaño el marco agarra todo lo ancho de la pantalla*/
	Z-index:4;
}
#marco ul {
	margin:0px;
	padding:0px;
	position:relative;
	width:1200px;
}
#marco li {
	position:relative;
	background-color:#cc6;
	border:1px solid red;
	float:left;
	margin:0px;
	font-size:24px;
	list-style:none; 
	height:167px;
	line-height:167px;
	width:230px;
	
}
